
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

body {

	background-color:#fff5ed;
}


.reportview-container h1 {
	font-size: 4.5rem;
	text-align: center;
	font-family: 'Castoro', serif;
	border-top: 1px solid #000;
	border-bottom: 2px solid #000;
	position: relative;
}

.reportview-container h1::before {
	color: #000;
	/* content:"\25CD"; */
	content:"\25CD";
	font-size: 3rem;
	position: absolute;
	left: 10px;
}

.reportview-container h1::after {
	color: #000;
	content:"\25CD";
	font-size: 3rem;
	position: absolute;
	right: 10px;
}


.reportview-container input[type="text"], .reportview-container textarea {
	background-color: #fefefe;
}





.reportview-container div[role=radiogroup] {

	flex-direction: row;
}